ul.yearnav {
    list-style: none;
    margin: 5px;
    padding: 0;
    clear:both;
}

ul.yearnav li.yearnav {
    margin-bottom: 8px;
}

.series, .event_title, .publication {
    font-style: italic;
}

ul.yearnav li.yearnav {
    float: left;
    margin-right: 5px;
}

#content .page-content {
    min-height: 800px;
}

