<!DOCTYPE html>
<html ng-app="boris">
<head lang="en">
    <meta charset="UTF-8">
    <title>BORIS Loader Testpage</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="application/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
    <script type="application/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
    <script type="application/javascript"
            src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script type="application/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>

    <script src="boris.js" type="text/javascript"></script>

    <script type="application/javascript">
        angular.module('boris', [])
                .controller('BorisController', ['$scope', function ($scope) {
                    $scope.$watch('url', function (url) {
                        if (!url) return;
                        var container = $('#contentFakultaet');
                        container.html('');
                        var filter = $scope.filter ? 'data-boris-filter="' + $scope.filter + '"' : '';
                        var project = $scope.project ? 'data-boris-project="' + $scope.project + '"' : '';
                        container.html('<div data-boris="' + url + '" ' + filter + ' '+project+' />');
                        $('[data-boris]').text('Loading from BORIS...');
                        $('[data-boris]').iwiboris(function (err, data) {
                            $scope.types = _.uniq(_.compact(_.pluck(data, 'extended_type')));
                            $scope.$apply();
                        });
                    });
                }]);
    </script>
</head>
<body>

<div class="container" ng-controller="BorisController">
    <div class="row">
        <div class="col-md-8">
            <h2>BORIS Loader Testpage</h2>
            <div class="form-group">
                <label for="url">URL to load</label>
                <input id="url" class="form-control" type="text" ng-model="url"/>

            </div>
            <div class="form-group">
                <label for="filter">data-boris-filter (enter here stuff from "types found" in metadata)</label>
                <input id="filter" class="form-control" type="text" ng-model="filter"/>
            </div>

            <div class="form-group">
                <label for="project">data-boris-project (enter here stuff from "types found" in metadata)</label>
                <input id="project" class="form-control" type="text" ng-model="project"/>
            </div>

            <button ng-click="url = 'http://boris.unibe.ch/cgi/exportview/divisions/DCD5A442BB9CE17DE0405C82790C4DE2/JSON/DCD5A442BB9CE17DE0405C82790C4DE2.js'"
                    class="btn btn-primary">I'm lazy! Just load IWI publications
            </button>
            <button ng-click="url = 'http://boris.unibe.ch/cgi/exportview/divisions/DCD5A442C4BFE17DE0405C82790C4DE2/JSON/DCD5A442C4BFE17DE0405C82790C4DE2.js'"
                    class="btn btn-primary">Bla! Get me IE publications
            </button>
            <button ng-click="url = 'http://boris.unibe.ch/cgi/exportview/divisions/DCD5A442BFBAE17DE0405C82790C4DE2/JSON/DCD5A442BFBAE17DE0405C82790C4DE2.js'"
                    class="btn btn-primary">WTF! Where are IM publications?
            </button>
            <hr>
            <div id="contentFakultaet">

                <div data-boris="http://boris.unibe.ch/cgi/exportview/divisions/DCD5A442BB9CE17DE0405C82790C4DE2/JSON/DCD5A442BB9CE17DE0405C82790C4DE2.js" data-boris-filter="book" class="boris"></div>
                <hr>
                <div data-boris="http://boris.unibe.ch/cgi/exportview/divisions/DCD5A442BB9CE17DE0405C82790C4DE2/JSON/DCD5A442BB9CE17DE0405C82790C4DE2.js" data-boris-filter="conference" class="boris"></div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Metadata</h2>
            <h3>Types found:</h3>
            <ul>
                <li ng-repeat="type in types">{{type}}</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>